<h2>Register</h2>

<form (ngSubmit)="onSubmit()">
  <label>
    Username:
    <input type="text" name="username" [(ngModel)]="username" required />
  </label>

  <label>
    Email:
    <input type="email" name="email" [(ngModel)]="email" required />
  </label>

  <label>
    Password:
    <input type="password" name="password" autocomplete="current-password" [(ngModel)]="password" required />

  </label>

  <button type="submit">Register</button>
</form>

<div *ngIf="message" style="color: green;">{{ message }}</div>
<div *ngIf="error" style="color: red;">{{ error }}</div>
